.hero_wrapper {
    height: 500px;
    overflow: hidden;

    & .container {
        max-width: 1170px;
        margin: 0 auto;
    }

    & .hero_con{
        display: flex;
        justify-content: space-between;
        margin-top: 115px;
   
        & .text_1{
            font-size: 32px;
        }

        & .text_2{
            font-size: 64px;
            font-weight: bold;
        }

        & .text_3{
            font-size: 32px;
        
        }

        & .text_4{
            font-size:16px;
            margin-top: 20px;
        }
        & .hero_social{
            display: flex;
            list-style: none;
            margin-top: 25px;

            & li{
                margin-right: 10px;
                & svg{
                    width: 32px;
                    height: 32px;
                    color: black;
                }
            }
        }

        & .hero_img {
            width: 400px;
            height: 300px;
            border-radius: 100%;
            /* background-image:url('https://images.unsplash.com/photo-1546445317-29f4545e9d53?q=80&w=1902&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') ; */
            background-image:url('../../assets/IMG_1881.JPG') ;
            background-size: cover;
            background-position: center;
            margin-right: 10px;
        }
    }
}