nav{
    background-color: rgb(206, 206, 206);

    & a{
        color: black;
    }

    & .container{
        max-width: 1170px;
        margin: 0 auto;
    }

    & .nav_con {
        height: 60px ;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    & .logo {
        & a{
            text-decoration: none;
            font-weight: bold;
        }
    }
    & ul{
        display: flex;
        list-style: none;
      & li{
        margin: 0 35px;
        & a {
            text-decoration: none;
        }
      }
    }
    & .button {
        width: 100px;
        height: 35px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        transition: 0.5s;
        cursor: pointer;
        &:hover{
            box-shadow: 0 0 20px 0px rgb(247, 246, 246)
        }
        & a{
            color: white;
            text-decoration: none;
        }
    }

}